[package]
name = "bacon"
version = "2.7.1-dev"
authors = ["dystroy <denys.seguret@gmail.com>"]
repository = "https://github.com/Canop/bacon"
description = "background rust compiler"
edition = "2021"
keywords = ["rust", "background", "compiler", "watch", "inotify"]
license = "AGPL-3.0"
categories = ["command-line-utilities", "development-tools"]
readme = "README.md"
rust-version = "1.65"

[dependencies]
anyhow = "1.0.68"
cargo_metadata = "0.14.0"
clap = { version = "3.1", features = ["derive"] }
cli-log = "2.0.0"
coolor = "=0.5.0"
crokey = "0.4.1"
crossbeam = "0.8.2"
directories-next = "2.0.0"
gix = "0.37.1"
lazy-regex = "2.5.0"
notify = "5.0.0"
serde = { version = "1.0.136", features = ["derive"] }
termimad = "0.21.0"
tokio = { version = "1.17.0", default-features = false, features = ["net", "sync", "process", "rt", "macros", "io-util"] }
toml = "0.5.8"
unicode-width = "0.1.10"
vte = "0.8"

[profile.release]
lto = true
strip = true

[patch.crates-io]
# termimad = { path = "../termimad" }
# lazy-regex = { path = "../lazy-regex" }
