[package]
name = "bacon"
version = "3.1.0"
authors = ["dystroy <denys.seguret@gmail.com>"]
repository = "https://github.com/Canop/bacon"
description = "background rust compiler"
edition = "2021"
keywords = ["rust", "background", "compiler", "watch", "inotify"]
license = "AGPL-3.0"
categories = ["command-line-utilities", "development-tools"]
readme = "README.md"
rust-version = "1.76"
        
[dependencies]
anyhow = "1.0.88"
cargo_metadata = "0.18"
clap = { version = "4.5", features = ["derive", "cargo"] }
clap-help = "1.3"
cli-log = "2.0.0"
crokey = "1.1"
crossbeam = "0.8.2"
directories-next = "2.0.0"
gix = "0.58"
lazy-regex = "3.3"
notify = "6.1"
rustc-hash = "2"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0"
termimad = "0.30"
toml = "0.8"
unicode-width = "0.1.12"
vte = "0.8"

[profile.release]
lto = true
strip = true

[patch.crates-io]
# clap-help = { path = "../clap-help" }
# termimad = { path = "../termimad" }
# crokey = { path = "../crokey" }
# coolor = { path = "../coolor" }
# lazy-regex = { path = "../lazy-regex" }
