[package]
name = "bacon"
version = "0.4.0-dev"
authors = ["dystroy <denys.seguret@gmail.com>"]
repository = "https://github.com/Canop/bacon"
description = "background rust compiler"
edition = "2018"
keywords = ["rust", "background", "compiler", "watch", "inotify"]
license = "AGPL-3.0"
categories = ["command-line-utilities", "development-tools"]
readme = "README.md"

[dependencies]
argh = "0.1.3"
anyhow = "1.0"
cargo_metadata = "0.12"
crossbeam = "0.7"
crossterm = "0.17.7"
minimad = "=0.6.7"
notify = "5.0.0-pre.3"
log = "0.4"
simplelog = "0.7"
termimad = "0.8.28"
